*

!src/
!src2/
!/.github/
!workflows/
!/db/
!/function/
!/site/
!.gitignore
!index.html
!*.tf
!main.yml
!seed.py
!seed_data.json
!function.py
!function_app.py
!requirements.txt
!host.json
!azure_oidc.sh
!README.md